.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  gap: 4px;
  padding: 10px;
  border: 5px solid darkgrey;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: -3px 3px 15px grey;
}