.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 850px;
  gap: 5px;
  padding: 10px;
  border: 5px solid darkgrey;
  border-radius: 10px;
  background-color: aliceblue;

}